body{
    background-color: #F64C72;
    font-family: Impact;
}

.board{
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.squares{
    width: 100px;
    height: 100px;
    border: 2px solid #242582;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squares:hover{
    background: white;
    cursor: pointer;
}

.scorecard, .title{
    background-color: white;
    width: 50%;
    margin: 20px auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: #242582;
}

h1{
    text-align: center;
    color: #242582;
}

h3{
    margin: auto 0;
    text-align: center;
}